body {
    margin: 0 auto;
}


header {
    background-color: white;
    width: 100%;
    height: 50px;
    border-bottom: 4px #cccccc solid;
    border-top: 20px white solid;   
}

header div {
    background-color: white;
    width: 960px;
    height: 50px;
    margin: 0 auto;
}

header h1, nav {
    display: inline-block;
    height: 30px;
    margin: 10px 0;
    
}

header h1 {
    float: left;
    background-color: #4aaaa5;
    margin: 0;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    color: white;  
    box-shadow: 5px 10px #cccccc;
}

nav {
    float: right;
    font-family: 'Roboto Condensed', sans-serif;
}

header a {
    padding: 20px 10px 10px 0px;
}

a:link, a:visited {
  background-color: #4aaaa594;
  color: white;
  padding: 14px 25px 5px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;

}

a:hover {
    color: black;
}

section {
    background-color: white; 
    width: 960px;
    height: 650px;
    padding: 20px auto;
    margin: 40px auto;
    border: 2px solid #dddddd;
    box-shadow: 5px 10px #cccccc;
}

section #portfolio {
    background-color: white;
    width: 900px;
    height: 40px;
    border-bottom: 2px solid #dddddd;
    margin: 0 auto;
    padding: 0 auto;
}

section h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #4aaaa5;
}


.photos {
    height: 150px;
    width: 200px;
    
}

.text-block {
    position: absolute;
    width: 200px;
    background-color: #4aaaa5;
    bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

#project1 {
    position: relative;
    height: 150px;
    width: 200px;
    margin: 10px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: center;
}

#project2 {
    position: relative;
    height: 150px;
    width: 200px;
    margin: 10px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: center;

}

#project3 {
    position: relative;
    height: 150px;
    width: 200px;
    margin: 10px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: center;

}

#project4 {
    position: relative;
    height: 150px;
    width: 200px;
    margin: 10px;
    padding-top: 10px;
    text-align: center;

}

#project5 {
    position: relative;
    height: 150px;
    width: 200px;
    margin: 10px;
    padding-top: 10px;
    text-align: center;
    
}

#projectboxes {
    height: 650px;
    width: 480px;
}

#projectboxes {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

@media only screen and (max-width: 980px) {

    header, header div {
        width: 100%;
    }

    section, section #portfolio {
        margin-left: 20px;
        width: 55%;
        height: auto;

    }
}
@media only screen and (max-width: 768px){
    header, header div {
        width: 100%;
    }

    section, section #portfolio {
        width: auto;
        height: auto;
        margin: 40px;
    }



}

    @media only screen and (max-width: 640px){

        header, header div, nav {
            position: static;
            width: 100%;
            text-align: center;   

        }
 
        #projectboxes {
            height: auto;
            width: auto;
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
        }

        #project4, #project5 {
            Position: relative;
            height: 150px;
            width: 200px;
            margin: 10px;
            padding-left: 20px;
            padding-top: 10px;
            text-align: center;
        }

       
        section, section #portfolio {
            width: auto;
            height: auto;
            margin: 40px;
        }
    }


    
