/* found the page-container and content-wrap code here: 
https://medium.freecodecamp.org/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c */


body {
    margin: 0 auto;
    
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}


header {
    background-color: white;
    width: 100%;
    height: 50px;
    border-bottom: 4px #cccccc solid;
    border-top: 20px white solid;   
}

header div {
    background-color: white;
    width: 960px;
    height: 50px;
    margin: 0 auto;
}

header h1, nav {
    display: inline-block;
    height: 30px;
    margin: 10px 0;
    
}

header h1 {
    float: left;
    background-color: #4aaaa5;
    margin: 0;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    color: white;  
    box-shadow: 5px 10px #cccccc;
}

nav {
    float: right;
    font-family: 'Roboto Condensed', sans-serif;
    
}

header a {
    padding: 20px 10px 10px 0px;
}

a:link, a:visited {
  background-color: #4aaaa594;
  color: white;
  padding: 14px 25px 5px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;

}

a:hover {
    color: black;
}

section {
    background-color: white; 
    width: 960px;
    height: 450px;
    padding: 20px auto;
    margin: 40px auto;
    border: 2px solid #dddddd;
    box-shadow: 5px 10px #cccccc;
}

section div {
    background-color: white;
    width: 900px;
    height: 40px;
    border-bottom: 2px solid #dddddd;
    margin: 0 auto;
    padding: 0 auto;
}

section h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #4aaaa5;
}

#profile-image {
    width: 232px;
    height: 308.8px;
    margin: 20px auto;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: left;
    line-height: 150%;
    margin: 35px;
      
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    

}

@media only screen and (max-width: 980px) {
    header, header div {
        width: 100%;
    }

    section {
        float: left;
        margin-left: 20px;
        width: 75%;
        height: auto;

    }

    section div {
        width: auto;
    }

    #profile-image {
        scale: auto;
        margin: inherit;
    }

    

@media only screen and (max-width: 768px){
    header, header div {
        width: 100%;
    }

    section, section div {
        height: auto;
        width: auto;
        margin: 40px;
    }

    #profile-image {
        scale: auto;
        margin: 0px;
    }

}

@media only screen and (max-width: 640px){

    header, header div, nav {
        position: static;
        width: 100%;
        text-align: center;   
    }

    header h1 {
        width: auto;
        text-align: center;   
    }

    /* super can't figure out how to make the nav not overlap the section and also the name bar looks like garbage at 100% width, as does the profile image, so I made the aesthetic choice to leave them as-is. */

     section, section div, {
      width: auto;
      height: auto;
      margin: 40px;
  }

    #profile-image {
        width: auto;
        scale: auto;
        margin: 0px;
    }

   
    
  

  



}
